<% if current_user %>
<h3>Welcome: <%= current_user.email %></h3>
<% else %>
<div class="jumbotron">
	<h2>Welcome to the Photo Management App!</h2>
	<p class="lead">
	You'll love managing your Photos with our application. Sign up!
	</p>
</div>
<div class="row">
	<div class="plans clearfix">
		<div class="col-lg-3 col-lg-offset-3 plan">
			<h2>Premium Plan</h2>
			<div class="price pull-right">
				Price: $10
			</div>
			<div class="features">
				<ul>
					<li>Unlimited Image Uploads</li>
					<li>Responsive design</li>
					<li>Access anywhere</li>
				</ul>
			</div>
			<p>
			<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
			</p>
		</div>
		<div class="col-lg-3 plan">
			<h2>Amaze Plan</h2>
			<div class="price pull-right">
				Price: $20
			</div>
			<div class="features">
				<ul>
					<li>Unlimited Image Uploads</li>
					<li>Responsive design</li>
					<li>Access anywhere</li>
					<li class='extra'>Unlimited projects</li>
				</ul>
			</div>
			<p>
			<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
			</p>
		</div>
	</div>
</div>
<% end %>

<section class="code-snippet">
<h1>Rails: Adding Email Verification</h1>
<h3> <i class="fa fa-rocket" aria-hidden="true"></i> Update config/environment.rb</h3>
<pre><code># Load the Rails application.
require File.expand_path('../application', __FILE__)

# Initialize the Rails application.
Rails.application.initialize!

<span class="special-info">
ActionMailer::Base.smtp_settings = {
&nbsp;:address =&gt; 'smtp.sendgrid.net',
&nbsp;:port =&gt; '587',
&nbsp;:authentication =&gt; :plain,
&nbsp;:user_name =&gt; ENV['SENDGRID_USERNAME'],
&nbsp;:password =&gt; ENV['SENDGRID_PASSWORD'],
&nbsp;:domain =&gt; 'heroku.com',
&nbsp;:enable_starttls_auto =&gt; true
}</span></code></pre>
</section>